@import '../../scss/index.scss';

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
}
.cards-blog {
  margin: 30px auto;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(28, 30, 44, 0.158), -5px -5px 30px 7px rgba(28, 28, 56, 0.158) !important;
  transition: 0.4s;
}

.cards-blog:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}


.ui.two.buttons {
    width: 100%;
    justify-content: center;
}
.pagination {
    text-align: center;
    justify-content: center;
}

.page-link {
    font-size: 20px;
    padding: 15px;
    margin: 10px;
}

.description {
    text-align: justify;
}

.author{
    text-align: center;
    margin-bottom: 10px;
}