@import '../../scss/index.scss';

.title-contact {
    font-family: Lato;
    font-weight: 300 !important;
    font-size: 30px;
    margin-top: 10px !important;
    text-align: center;
    padding-top: 50px;
   
}

.contactRow{
    justify-content: center !important;
    margin-bottom: 60px !important;
    margin-top: 40px !important;
}

.info-eefu {
    padding-top: 50px;
}